:root {
    --color-blue: #099;
    --color-blue-title: #96FEFF;
}


/* Reset CSS */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #3CF;
    text-decoration: none;
    transition: all 0.3s ease;
}

p {
    line-height: 1.8;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

.title {
    display: inline;
    letter-spacing: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--color-blue);
}

.title--big {
    font-size: 2.3rem;
}

.title-weight {
    font-weight: bold
}

.title--italic {
    font-style: italic;
}

.title-center {
    text-align: center;
}

.background--white {
    background-color: white;
}

.background--black {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.icon {
    color: var(--color-blue);
}

.icon--big {
    margin: 30px;
    font-size: 3.4rem;
}

.icon--small {
    margin-right: 25px;
    font-size: 1.5rem;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav__item {
    display: inline;
    line-height: 80px;
    letter-spacing: 2px;
    position: relative;
}

.nav__item--active a {
    color: var(--color-blue-title);
}

.nav__item--active ::before {
    content: "";
    position: absolute;
    bottom: 20px;
    width: 90px;
    padding: 10px;
    border-bottom: 4px solid var(--color-blue-title);
}

.nav__link {
    color: white;
}

.product {
    display: flex;
    flex-direction: row;
    height: 172px;
    margin-top: 20px;
}

.product:first-child {
    margin-top: 0;
}

.product__img {
    width: 160px;
    height: 160px;
    margin-right: 20px;
    margin-top: 6px;
}

.product__infor {
    padding: 20px;
}

.product__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

.product__price {
    color: var(--color-blue);
    font-weight: bold;
}

.product__description {
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: start;
    font-weight: 300;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f100;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #888;
}