:root {
    --color-blue: #099;
}


/* Reset CSS */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

nav>ul>li {
    list-style: none;
}

a {
    color: #3CF;
    text-decoration: none;
    transition: all 0.3s ease;
}

p {
    line-height: 1.8;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

.title {
    display: inline;
    letter-spacing: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #099;
}

.title--big {
    font-size: 2.3rem;
}

.title-weight {
    font-weight: bold
}

.title--italic {
    font-style: italic;
}

.background-white {
    background-color: white;
}

.icon {
    color: #099;
}

.icon--big {
    margin: 30px;
    font-size: 3.4rem;
}

.icon--small {
    margin-right: 25px;
    font-size: 1.5rem;
}