/* Wrapper */

#wrapper {
    position: relative;
}

#wrapper__video {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1000;
}

#wrapper__control {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}


/* Container */

#container {
    padding: 30px;
    display: flex;
    flex: row;
}


/* Site Header */

#siteHeader {
    width: 44%;
}

#siteHeader__logo {
    width: 500px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#siteHeader__menu {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.siteHeader__item {
    width: 240px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}

.siteHeader__item:hover {
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
}

.siteHeader__item:hover i,
.siteHeader__item:hover span {
    color: white;
}

.siteHeader--active {
    background-color: var(--color-blue);
}

.siteHeader--active i,
.siteHeader--active span {
    color: white
}


/* Content */

#content {
    width: 56%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    position: relative;
}

.content__row {
    width: 660px;
}

#drink,
#about,
#special,
#contact {
    background-color: white;
    height: 30px;
    position: absolute;
    right: 70px;
    display: none;
}

#drink {
    display: block;
}